#mid-page {
                  display : flex;
                  width : 100%;
                  background-color: GhostWhite;

          }

#left-mid-page {
                  display : flex;
                  flex-direction: column;
                  width : 350px;
                  background-color: mistyrose;
                  block;
             }
#mid-mid-page {
                  display : flex;
                  width : 950px;
              }
#right-mid-page {
                  display : flex;
                  width : 500px;
                  background-color: aliceblue;
                  flex-direction: column;
             }



#action_div    { margin-top: 25px; }
#letters_div   { margin-top: 25px;  color: blue; font-size: 20px; font-weight: 900; text-align: left; display: float-inline;}

.show_challenge_div { margin-top: 25px; background-color: mistyrose; color: black; font-size: 20px; font-weight: 400; text-align: left; display: flex; flex-direction: column;}

#word_response_div  { margin-top: 25px; background-color: yellow; color: black; font-size: 20px; font-weight: 400; text-align: left; display: flex; flex-direction: column;}

.hide_challenge_div { margin-top: 25px; background-color: olive; display: none;}

.challenge_btn_div { margin-top: 25px; background-color: olive; display: flex; }

.hide_challenge_btn_div { margin-top: 25px; background-color: olive; display: none;}
.hide_challenge_btn     { display: none;}

#score_div     {  }
#rack_div      {  }

#player_score_div { display : flex; flex-direction: row; margin-bottom: 25px; }

#player_one_score  { color: indigo;     font-size: 25px; font-weight: 900; text-align: left;   vertical-align: middle; width: 34%;}
#player_two_score  { color: darkgreen;  font-size: 25px; font-weight: 900; text-align: right;  vertical-align: middle; width: 32%;}
#game_round        { color: black;      font-size: 25px; font-weight: 900; text-align: center; vertical-align: middle; margin: auto; }
.player_signed_in  { color: black;      font-size: 25px; font-weight: 400; text-align: left; vertical-align: middle; }
.player_name       { color: blue;       font-size: 25px; font-weight: 900; text-align: left; vertical-align: middle; }


#letters_div meter { width: 90%; height: 30px;   }

.header-image { height: 75px; }
#board-table  { border-collapse: collapse; }
#board-table tr { /*
                   padding: 0px; border: solid 2px #777; height: 55px; width: 55px; vertical-align: middle; text-align: center; margin: auto;
                  */
}
#board-table td {
                   padding: 0px; border: solid 2px #777; height: 55px; width: 55px; vertical-align: middle; text-align: center; margin: auto;
}

#rack { padding: 0px; height: 55px; width: 55px; background-color: burlywood; }
#rackdd td {
                 padding: 0px; border: solid 2px #777;
}
#rack img { height: 55px; width: 55px; padding: 0px; vertical-align: middle; text-align: center; margin: auto;}
#rack td { position : relative; padding: 0px; border: solid 2px #777;
}

.rackexchangemarker { position : absolute; color: red; font-size: 20px; font-weight: 900; top:-2px; left:4px; margin: 0px; padding: 0px; }
/*
.rackexchangemarker { writing-mode: vertical-rl; position : absolute; color: red; font-size: 10px; font-weight: 900; text-align: center; top:15px; background-color: none; padding: 0px; }
*/

#unseen { visibility: collapse; }


.scored-line    { color: black; font-size: 25px; font-weight: 400; text-align: center; vertical-align: middle; }

.challenge_text { color: black; font-size: 20px; font-weight: 400; text-align: left; }

.triple-word    { color: white; font-size: 15px; font-weight: 900; text-align: center; vertical-align: middle; background-color: red; }
.double-word    { color: white; font-size: 15px; font-weight: 900; text-align: center; vertical-align: middle; background-color: deeppink; }
.triple-letter  { color: white; font-size: 15px; font-weight: 900; text-align: center; vertical-align: middle; background-color: blue; }
.double-letter  { color: white; font-size: 15px; font-weight: 900; text-align: center; vertical-align: middle; background-color: deepskyblue; }
.plain-score    { color: white; font-size: 15px; font-weight: 900; text-align: center; vertical-align: middle; background-color: bisque; }
.board-image    { height: 55px; width: 55px; padding: 0px; vertical-align: middle; text-align: center; margin: auto; }
.board-wild-img { height: 55px; width: 55px; padding: 0px; vertical-align: middle; text-align: center; margin: auto; }
.board-wild-td  { height: 55px; width: 55px; padding: 0px; vertical-align: middle; text-align: center; margin: auto;}

.player-one     { vertical-align: middle; background-color: indigo; }
.player-two     { vertical-align: middle; background-color: darkgreen; }
.player-unknown { vertical-align: middle; background-color: darkred; }
.last-play      { vertical-align: middle; background-color: crimson; }
.retractable    { vertical-align: middle; background-color: yellow; }

.played_word    { font-size: 20px; text-align: right; font-weight: 900; color: crimson; padding-right: 25px;}
.played_points  { font-size: 20px; text-align: right; font-weight: 400; }
.played_multiplier { font-size: 20px; text-align: right; font-weight: 400; padding-right: 25px;}
.played_score   { font-size: 20px; text-align: right; font-weight: 400; padding-right: 25px;}
.played_comment { font-size: 20px; text-align: left; font-weight: 400; color: crimson; }

.highlight-game  {  background-color: DarkKhaki; }